// @import "_mixins.scss";


//<google-fonts>=======================================================================================


@import "_fonts.scss";
@import "_default-icomoon.scss";
//@import "_icomoon";


//<default-font>==========================================================================================

$fontFamily: "";




//<Null>===============================================================================================
@import "_null.scss";

body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

//<Wrapper>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

//<main-grid>===========================================================================================================
._container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}

//<==== UI, Forms and ready classes>====================================================================================================

@import "_forms.scss";
@import "_ui.scss";
@import "_datepicker.scss";
@import "_lightgallery.scss";
//@import "_pagging";
@import "_popup.scss";
@import "_nouislider.scss";
@import "_tippy.scss";
// @import "_header.scss";
// @import "_footer.scss";
// @import "_home.scss";

//<Main block>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.gallery-block {

	// .gallery-block__item

	&__item {
		img{
			width: 100px;
		}
	}
}


// =========================================================================================================================================================

// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================

// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================

// =========================================================================================================================================================

// =========================================================================================================================================================


// =========================================================================================================================================================


// =========================================================================================================================================================
@import "_medias.scss";
